<!DOCTYPE html>
<html>
	<head>
		<title>index</title>
		<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="static/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="static/js/bootstrap.min.js"></script>
	<body>
		<div class="page-header">
			<h4>{{ current_user.usuario }}</h4>
			<a href="{{ url_for('home.logout') }}">Logout</a>
			
			{% for error in get_flashed_messages(category_filter=['login']) %}
						<div class="alert alert-success" role="alert">{{ error }}</div>
					{% endfor %}
		</div>
		
		
		

		
		
		
	</body>
</html>