<!DOCTYPE html>
<html>
	<head>
		<title>Pesquisar</title>
		<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="static/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="static/js/bootstrap.min.js"></script>
	<body>
		<div class="page-header">
			<h1>Lista</h1>
		</div>
    <div class="panel panel-default">
      <div class="panel-heading">Usuários</div>
        <table class="table" border="1">
          <tr>
          <td>ID</td>
          <td>descrição</td>
          <td>Nome</td>
          <td>Excluir</td>
          <td>Update</td>
        </tr>
        {% for uploads in arquivos %}
          <tr>
            <td>{{ uploads._id }}</td>
            <td>{{ uploads.descricao }}</td>
            <td>{{ uploads.arquivo }}</td>
            <td><center><a href="#">Remover</a></center></td>
            <td><center><a href="#">Editar</a></center></td>
            
          </tr>
        {% endfor %}
        </table>
      </div>

		
		<a class="btn btn-primary btn-lg" href="{{ url_for('home.login') }}" role="button">Voltar</a>
		
	</body>
</html>