<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="static/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="static/js/bootstrap.min.js"></script>
		<title>Página de Matrícula</title>
	</head>
	<body>
		<div class="panel panel-default">
			<div class="page-header">
			<h1>Página de Matrícula</h1>
		</div>
		  <div class="panel-body">
		    <form class="navbar-form navbar-left" action="{{ url_for('home.matricula_user') }}" method="POST">
		    	{{ form.hidden_tag() }}
			<table>
					<tr>
						<td>Usuário</td>
						<td>{{form.usuario(class_="form-control")}}</td>
					</tr>
					<tr>
						<td>Disciplina</td>
						<td>{{form.disciplina(class_="form-control")}}</td>
					</tr>
				</table><br>
				<input type="submit" class="btn btn-primary btn-lg" value="Salvar Cadastro"/>
				<a class="btn btn-primary btn-lg" href="{{ url_for('home.login') }}" role="button">Voltar</a>
			</form>
		  </div>
		</div>
	</body>
</html>